    <!-- Download Section -->
    <section id="about" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>About the Brown Institute</h2>
                    <p>The Brown Institute is a bi-coastal partnership between Stanford and Columbia University. It seeks to fund groundbreaking projects that push the limit of media and technology.</p>
                    <p>Each year, the Institute issues a select number of Magic Grants to current and former students at each institution who are working on research and practical projects that further this goal.</p>
                </div>
            </div>
        </div>
    </section>
