    <!-- Download Section -->
    <section id="about" class="content-section text-center">
      <img class="section-angle-top" src="{{ site.github.url }}/img/web_vector_top.svg" />
        <div class="about-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <img src="{{ site.github.url }}/img/map.png" style="width:250px; margin-bottom:25px;" />
                    <h2 style="color:white;">About the Brown Institute</h2>
                    <p><a href="http://brown.stanford.edu/" target="_blank" style="color:#D2C295; border-bottom: 2px solid;">The David and Helen Gurley Brown Institute</a> is housed jointly at the Stanford University School of Engineering and the Columbia University Graduate School of Journalism in New York. It was established in 2012 with a gift from Helen Gurley Brown, longtime editor of Cosmopolitan magazine, in memory of her late husband, David Brown.</p>
                    <p>Each year the Institute awards a select number of grants that that drive the cutting edge of media technology.</p>
                    <p>Project funding from Brown usually supports teams of graduate students and postgraduates who are interested in creating or testing an innovative media prototype. The institute serves as an incubator for digital media technologies and is committed to supporting student projects in this field.</p>
                </div>
            </div>
        </div>
    </section>
    <img class="section-angle-bottom" src="{{ site.github.url }}/img/web_vector.svg" />
