    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <small id="conference-date"><span>SEPTEMBER 29, 2016 at STANFORD UNIVERSITY</span></small>
                        <h2 class="brand-heading">{{ site.title }}</h2>
                        <p class="intro-text">{{ site.description }}</p><br>
                        <a href="#info" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
