    <!-- Contact Section -->
  <!-- <img src="/img/section-line.png" style="width:100%;" /> -->

  <section id='info' class='container content-section text-center'>
    <div class="row">
      <div class="col-sm-6">
        <div class="event-info-box">
          <h3><i class="fa fa-calendar" aria-hidden="true"></i> When</h3>
          <p>5:30pm - 8:30pm, September 29, 2016</p>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="event-info-box">
          <h3><i class="fa fa-map-pin" aria-hidden="true"></i> Where</h3>
          <p>Packard Electrical Engineering, 350 Serra Mall, Stanford, CA 94305</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div id="map" height="400px"></div>
      </div>
    </div>
    <div class="row">
        <a href="https://www.eventbrite.com/e/brown-institute-media-innovation-showcase-2016-tickets-26936152758" class="btn btn-default btn-lg rsvp-button" role="button" aria-pressed="true" style="margin-top:20px;"> RSVP</a>
    </div>
  </section>
