    <!-- About Section -->
    <section id="projects" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <h2>Projects</h2>
                <div class="project-list">
                  <a href="http://artplusplus.stanford.edu/"><div id="art" class="project"><span>Art++</span></div></a>
                  <a href="http://brown.stanford.edu/magic/cuba_interconectada"><div id="cuba" class="project"><span>Cuba Interconectada</span></div></a>
                  <a href="http://brown.stanford.edu/magic/gdrone_an_interactive_personal_drone_tour_guide_201516"><div id="gdrone" class="project"><span>G:Drone – An Interactive Personal Drone Tour Guide</span></div></a>
                  <a href="http://brown.stanford.edu/magic/generating_emotional_impact_in_narrative_201516"><div id="emotion" class="project"><span>Generating Emotional Impact in Narrative</span></div></a>
                  <a href="http://brown.stanford.edu/magic/mapping_monuments_memory_20152016"><div id="monuments" class="project"><span>Mapping Monuments & Memory</span></div></a>
                  <a href="http://brown.stanford.edu/magic/nueva_nacin_201516"><div id="nuevanacion" class="project"><span>Nueva Nación</span></div></a>
                  <a href="http://brown.stanford.edu/magic/open_contractors_201516"><div id="oc" class="project"><span>Open Contractors</span></div></a>
                  <a href="http://brown.stanford.edu/magic/recipe_for_a_famine_201516"><div id="famine" class="project"><span>On the Brink of Famine</span></div></a>
                </div>
            </div>
        </div>
    </section>
