    <!-- About Section -->
    <!-- <img class="section-angle-line" src="{{ site.github.url }}/img/section-line.png" /> -->

    <section id="grants" class='container content-section text-center'>
        <img src="{{ site.github.url }}/img/wand.png" style="width:250px; margin-bottom:25px;" />
        <h2>The Magic Grants</h2>

        <div class="btn-group sm-screen">
          <button type="button" class="btn btn-lg btn-default dropdown-toggle" data-toggle="dropdown">
          Select a project <span class="caret"></span></button>
          <ul class="dropdown-menu" role="menu">
            <li><button class="project-toggler active"data-switch-set="grant-project-set" data-target="#about-text-content">About</button></li>
            <li><button class="project-toggler active"data-switch-set="grant-project-set" data-target="#art">Art++</button></li>
            <li><button class="project-toggler active"data-switch-set="grant-project-set" data-target="#cuba">Cuba Interconectada</button></li>
            <li><button class="project-toggler active"data-switch-set="grant-project-set" data-target="#gdrone">G-Drone</button></li>
            <li><button class="project-toggler active"data-switch-set="grant-project-set" data-target="#emotion">Generating Emotional Impact in Narrative</button></li>
            <li><button class="project-toggler active"data-switch-set="grant-project-set" data-target="#monuments">Mapping Monuments & Memory</button></li>
            <li><button class="project-toggler active"data-switch-set="grant-project-set" data-target="#nacion">Nueva Nación</button></li>
            <li><button class="project-toggler active"data-switch-set="grant-project-set" data-target="#oc">Open Contractors</button></li>
            <li><button class="project-toggler active"data-switch-set="grant-project-set" data-target="#famine">On the Brink of Famine</button></li>
            <li><button class="project-toggler active"data-switch-set="grant-project-set" data-target="#science">Science Surveyor</button></li>
          </ul>
        </div>

        <div class='row'>
            <div class='col-md-7' id="grant-content-block" style="text-align:left;">

              <div title="about-text-content" alt="about-text-content" id="about-text-content" class="project-toggle">
                <img class="project-art browns" src="{{ site.github.url }}/img/project-img/browns.png" style="margin-bottom:20px;" />
                <p>David and Helen Gurley Brown believed that magic happens through a unique kind of collaboration — when powerful (yet, untold) stories emerge through the creation of groundbreaking technology. It is in this spirit that the institute bearing their name offers “Magic Grants”  to support small, interdisciplinary teams of graduate students or postgraduates inventing new ways to inform and entertain. Successful projects might continue as ventures outside the university, and the institute has various ways to help teams on that journey.</p>
              </div>

              <div title="art" alt="art" id="art" class="project-toggle" style="display:none;">
                <img class="project-art art" src="{{ site.github.url }}/img/project-img/art.png" />
                <h3>Art++</h3>
                <p>An augmented reality application that enlivens the museum-going experience and lets visitors look at art in new and unexpected ways.</p>
                <p><strong>Team members:</strong> Jean-Baptiste Boin, María del Carmen Barrios Giordano, Asia Chiao, Skanda Shridhar, Tanja Aitamurto, Chris Alexander, Anna Toledano, Colleen Stockman.</p>
                <p><strong>Advisors:</strong> Bernd Girod, Connie Wolf.</p>
              </div>

              <div title="cuba" alt="cuba" id="cuba" class="project-toggle" style="display:none;">
                <img class="project-art cuba" src="{{ site.github.url }}/img/project-img/cuba.png" />
                <h3>Cuba Interconectada</h3>
                <p>Cuba Interconectada uses data and interactive features to tell the story of change in Cuba as its citizens adapt to new technology and an opening economy.</p>
                <p><strong>Team members:</strong> Juanita Ceballos, Jika Gonzalez, Dave Mayers.</p>
              </div>

              <div title="gdrone" alt="gdrone" id="gdrone" class="project-toggle" style="display:none;">
                <img class="project-art gdrone" src="{{ site.github.url }}/img/project-img/drone.png" />
                <h3>G-Drone</h3>
                <p>G-Drone explores human-drone interaction through the use of drones as tour guides.</p>
                <p><strong>Team members:</strong> Jessica Cauchard, Jane E.</p>
              </div>

              <div title="emotion" alt="emotion" id="emotion" class="project-toggle" style="display:none;">
                <img class="project-art emotion" src="{{ site.github.url }}/img/project-img/humor.png" />
                <h3>Generating Emotional Impact in Narrative</h3>
                <p>Generating Emotional Impact in Narrative is designed to identify what makes jokes funny and teach computers how to write them.</p>
                <p><strong>Team members:</strong> Lydia Chilton</p>
              </div>

              <div title="monuments" alt="monuments" id="monuments" class="project-toggle" style="display:none;">
                <img class="project-art monuments" src="{{ site.github.url }}/img/project-img/monuments.png" />
                <h3>Mapping Monuments & Memory</h3>
                <p>Mapping Monuments in Memory pairs journalism with landscape architecture to tell the story of Spomeniks, futuristic World War II monuments scattered across the six former republics of the former Yugoslavia.</p>
                <p><strong>Team members:</strong> Jorgen Samso Nielsen, Mark Thomann, Kira Appelhaus, Iwan Baan.</p>
              </div>

              <div title="nacion" alt="nacion" id="nacion" class="project-toggle" style="display:none;">
                <img class="project-art nacion" src="{{ site.github.url }}/img/project-img/nacion.png" />
                <h3>Nueva Nación</h3>
                <p>Nueva Nacion has built an interactive database of government information to help journalists tell the story of one of Latin America’s fastest growing economies.</p>
                <p><strong>Team members:</strong> Ana Mendez, Alfonso Poschi, Gaspar Garcia de Paredes.</p>
              </div>

              <div title="oc" alt="oc" id="oc" class="project-toggle" style="display:none;">
                <img class="project-art contractors" src="{{ site.github.url }}/img/project-img/contractors.png" />
                <h3>Open Contractors</h3>
                <p>Open Contractors is an open-source web dashboard designed to enable journalists to easily analyze, visualize and interact with government contract data.</p>
                <p><strong>Team members:</strong> Allison McCartney, Alex Gonçalvez</p>
              </div>

              <div title="famine" alt="famine" id="famine" class="project-toggle" style="display:none;">
                <img class="project-art famine" src="{{ site.github.url }}/img/project-img/famine.png" />
                <h3>On the Brink of Famine</h3>
                <p>On the Brink of Famine is an immersive documentary that used virtual reality techniques to tell the story of the famine in South Sudan.</p>
                <p><strong>Team members:</strong> Marcelle Hopkins, Benedict Moran, Evan Wexler.</p>
              </div>

              <div title="science" alt="science" id="science" class="project-toggle" style="display:none;">
                <img class="project-art science" src="{{ site.github.url }}/img/project-img/science.png" />
                <h3>Science Surveyor</h3>
                <p>A data tool designed to help science journalists  quickly contextualize journal articles by identifying trending topics, the funding behind studies and publication timelines.</p>
                <p><strong>Team members:</strong> Marguerite Holloway, Laura Kurgan, Juan Francisco Saldarriaga, Laura Moorhead, Cheryl Halzmeyer, Juan Pablo Alperin.</p>
              </div>
            </div>

            <div class='col-md-5'>
                  <div class="btn-group-vertical lg-screen">
                    <button class="btn btn-primary project-toggler active" type="button" data-switch-set="grant-project-set" data-target="#about-text-content">About the grants</button>
                    <button class="btn btn-primary project-toggler" type="button" data-switch-set="grant-project-set" data-target="#art">Art++</button>
                    <button class="btn btn-primary project-toggler" type="button" data-switch-set="grant-project-set" data-target="#cuba">Cuba Interconectada</button>
                    <button class="btn btn-primary project-toggler" type="button" data-switch-set="grant-project-set" data-target="#gdrone">G-Drone</button>
                    <button class="btn btn-primary project-toggler" type="button" data-switch-set="grant-project-set" data-target="#emotion">Generating Emotional Impact in Narrative</button>
                    <button class="btn btn-primary project-toggler" type="button" data-switch-set="grant-project-set" data-target="#monuments">Mapping Monuments & Memory</button>
                    <button class="btn btn-primary project-toggler" type="button" data-switch-set="grant-project-set" data-target="#nacion">Nueva Nación</button>
                    <button class="btn btn-primary project-toggler" type="button" data-switch-set="grant-project-set" data-target="#oc">Open Contractors</button>
                    <button class="btn btn-primary project-toggler" type="button" data-switch-set="grant-project-set" data-target="#famine">On the Brink of Famine</button>
                    <button class="btn btn-primary project-toggler" type="button" data-switch-set="grant-project-set" data-target="#science">Science Surveyor</button>
                  </div>
            </div>
        </div>
    </section>


    <!-- Fellows -->
    <section id='fellows' class='container content-section text-center'>
      <h2>The Fellows</h2>

      <div class="btn-group sm-screen">
        <button type="button" class="btn btn-lg btn-default dropdown-toggle" data-toggle="dropdown">
        Select a project <span class="caret"></span></button>
        <ul class="dropdown-menu" role="menu">
          <li><button class="fellow-project-toggler active"data-switch-set="fellow-project-set" data-target="#fellow-about-text-content">About the fellows</button></li>
          <li><button class="fellow-project-toggler active"data-switch-set="fellow-project-set" data-target="#fellow1">Aram Chung</button></li>
          <li><button class="fellow-project-toggler active"data-switch-set="fellow-project-set" data-target="#fellow2">Juho Kim</button></li>
        </ul>
      </div>

      <div class='row'>
          <div class='col-md-7' id="fellow-content-block" style="text-align:left;">

            <div title="about-text-content" alt="about-text-content" id="fellow-about-text-content" class="fellow-project-toggle">
              <p>The Brown Institute fellowships are designed for students and postgrads who seek to do research that will help us understand the seismic changes in the media landscape. These positions are open to graduate and Ph.D. students and postgraduates affiliated with any school at the University, not just the journalism program.</p>
            </div>

            <div title="fellow1" alt="fellow1" id="fellow1" class="fellow-project-toggle" style="display:none;">
              <img class="project-art hitchhiker" src="{{ site.github.url }}/img/project-img/hitchhiker.png" />
              <h3>Aram Chung</h3>
              <p>Chung's fellowship project, "The Hitchhiker's Guide to Newsroom Algorithms" is a graphic, interactive textbook explaining computational methods in terms of journalistic applications, helping journalists and students both select approaches for their stories as well as dig deeper into the underlying metaphors and abstrations motivating their design.</p>
            </div>

            <div title="fellow2" alt="fellow2" id="fellow2" class="fellow-project-toggle" style="display:none;">
              <img class="project-art cookie" src="{{ site.github.url }}/img/project-img/cookie.png" />
              <h3>Juho Kim</h3>
              <p>What makes a sandwich a sandwich or a cookie and cookie? Kim’s fellowship project on “Recipe Mining” aims to answer such questions by analyzing large collections of recipes and identify shared structure between them.</p>
            </div>


          </div>
          <div class='col-md-5'>
                <div class="btn-group-vertical lg-screen">
                  <button class="btn btn-primary fellow-project-toggler active" type="button" data-switch-set="fellow-project-set" data-target="#fellow-about-text-content">About the fellows</button>
                  <button class="btn btn-primary fellow-project-toggler" type="button" data-switch-set="fellow-project-set" data-target="#fellow1">Aram Chung</button>
                  <button class="btn btn-primary fellow-project-toggler" type="button" data-switch-set="fellow-project-set" data-target="#fellow2">Juho Kim</button>
                </div>
          </div>
      </div>
    </section>
